:root {
  --dark-blue: #0563BB;
  --medium-blue: #007BFF;
  --light-blue: #DEEFFF;
  --dark-grey: #45505B;
  --medium-grey: #728394;
  --light-grey: #DDD;
  --zero-grey: #F2F3F5;
}

/* GENERAL */

::selection {
  background-color: var(--light-blue);
}

::-moz-selection {
  background-color: var(--light-blue);
}

body {
  background-color: white;
  font-family: 'Karla', sans-serif;
  letter-spacing: 0.5px;
  color: #272829;
  user-select: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

strong {
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
}

img {
  border-radius: 10px;
}

/* BACK-TO-TOP BUTTON */

.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: var(--dark-blue);
  color: white;
  transition: display 0.3s ease-in-out;
  z-index: 999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8.5px;
  left: 8px;
}

.back-to-top:hover {
  color: white;
  background: var(--medium-blue);
  transition: background 0.3s ease-in-out;
}

/* PRELOADER */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 7;
  overflow: hidden;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#preloader:before {
  content: '';
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 30px solid var(--light-blue);
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MOBILE AOS ANIMATION DELAY DISABLER */

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* HEADER */

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  transition: all 0.3s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: white;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

/* NAVIGATION */

/* DESKTOP NAVIGATION */

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: var(--dark-grey);
  padding: 10px 18px;
  margin-bottom: 18px;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  border-radius: 50px;
  background: var(--zero-grey);
  height: 56px;
  width: 100%;
  overflow: hidden;
}

.nav-menu a i {
  font-size: 20px;
}

.nav-menu a span {
  font-family: 'Josefin Sans';
  font-weight: 400;
  padding: 5px 0 0 8px;
  color: var(--dark-grey);
}

@media (min-width: 992px) {
  .nav-menu a {
    width: 56px;
  }
  .nav-menu a span {
    display: none;
    color: white;
  }
}

.nav-menu a:hover, .nav-menu .active>a, .nav-menu li:hover>a {
  color: white;
  background: var(--dark-blue);
}

.nav-menu a:hover span, .nav-menu .active>a span, .nav-menu li:hover>a span {
  color: white;
}

.nav-menu a:hover, .nav-menu li:hover>a {
  width: 100%;
  color: white;
}

.nav-menu a:hover span, .nav-menu li:hover>a span {
  display: block;
}

/* MOBILE NAVIGATION */

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 6;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.3s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: var(--dark-grey);
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: var(--dark-blue);
}

/* HERO */

#hero {
  /* background: url('../img/hero-bg.jpg') top right no-repeat;
  background-size: cover; */
  position: relative;
  height: 100vh;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

#hero:before {
  content: '';
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 600;
  line-height: 56px;
  color: var(--dark-grey);
}

#hero p {
  color: var(--dark-grey);
  margin: 15px 0 0 0;
  font-size: 26px;
}

#hero p span {
  color: var(--medium-blue);
  letter-spacing: 1px;
}

#hero p .typed-cursor {
  font-size: 13px;
  padding-left: 13px;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: var(--dark-grey);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: var(--medium-blue);
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

/* SECTIONS */

section {
  width: 100%;
  height: auto;
  padding: 8vh 5vw;
  overflow: hidden;
}

section:last-child {
  margin-bottom: 8vh;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--dark-grey);
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: var(--light-grey);
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title p {
  margin-bottom: 0;
}

/* ABOUT */

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content p {
  color: var(--medium-grey);
  line-height: 2;
  /* margin-bottom: 0; */
}

/* PORTFOLIO */

.portfolio .portfolio-item {
  margin-bottom: 30px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: white;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--dark-grey);
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: var(--dark-blue);
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: '';
  background: rgba(255, 255, 255, 1);
  position: absolute;
  left: 50px;
  right: 50px;
  top: 50px;
  bottom: 50px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 13px;
  color: var(--dark-grey);
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: var(--dark-grey);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: var(--dark-grey);
  margin: 0;
  font-size: 28px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  margin-top: 8px;
  padding-top: 4px;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: var(--medium-blue);
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/* CONTACT */

.contact .info {
  background: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.contact .info div {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact .info div:first-child {
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
}

.contact .info div:last-child {
  margin-top: 30px;
  margin-bottom: 0;
}

.contact .info i {
  font-size: 20px;
  color: var(--dark-blue);
  float: left;
  width: 44px;
  height: 44px;
  padding-left: 0.5px;
  background: var(--zero-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.contact .info .email:hover i, .contact .info .instagram:hover i, .contact .info .phone:hover i {
  background: var(--dark-blue);
  color: white;
}

.contact .info h4 {
  padding: 0 0 0 70px;
  font-size: 22px;
  font-weight: 600;
  color: var(--dark-grey);
}

.contact .info p {
  padding: 0 0 0 70px;
  margin-bottom: 0;
  font-size: 15px;
  color: var(--medium-grey);
  line-height: 2;
}

.contact .info p strong {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -5px;
  margin-right: -5px;
}

.text-reveal {
  z-index: 0;
  color: var(--medium-blue);
}

.text-reveal:after {
  z-index: -1;
  position: absolute;
  width: auto;
  height: auto;
  left: 0;
  top: 0;
  content: '';
  right: 0;
  bottom: 0;
  background-color: var(--light-blue);
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: text-reveal;
  animation-delay: .2s;
  animation-iteration-count: 1;
  animation-duration: .7s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, .2, 1);
}

@-webkit-keyframes text-reveal {
  0%, 50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }
  60%, to {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

@keyframes text-reveal {
  0%, 50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }
  60%, to {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* PORTFOLIO DETAILS */

.portfolio-details {
  padding: 40px 0;
}

.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--light-grey) !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: var(--dark-blue) !important;
}

.portfolio-details .portfolio-info {
  padding-top: 45px;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-info p {
  font-size: 15px;
  padding: 15px 0 0 0;
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}

/* FOOTER */

#footer {
  background: var(--zero-grey);
  color: var(--dark-grey);
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 600;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 16px;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .credits {
  font-size: 13px;
}